body{
    margin: 0;
    padding: 0;
    background-color:rgb(16, 134, 238);
    background-image: url(250_250_1587463140logo.jpeg);
    
    background-position: top left;
    background-repeat: repeat;
    }
    p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        color: blueviolet;
        font-weight: 700;
        font-style:italic;
        text-align: center;
        text-decoration: underline;
        text-transform: capitalize;
        text-shadow: 1px 1px 10px #fff;
        text-wrap: initial;
    }
    #para{
        color:aquamarine;
        display: inline-block;
    }
    img{
        float:left
    }
